/* universal selector */
* {
    margin: 0;
}

/* name selector */
header {
    background-color: dodgerblue;
    text-align: center;
    padding: 15px;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 15% auto;
}

/* class selector */
.main {
    padding: 10px;
}

/* id selector */
aside {
    background-color: gray;
}

aside a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
}

aside a:hover {
    background-color: black;
}

.active {
    background-color: green;
}

footer {
    color: white;
    background-color: black;
    font-style: italic;
    text-align: center;
    padding: 10px;
}